@font-face {
    font-family: bitter-bold;
    src: url('../assets/fonts/Bitter-Bold.ttf');
}

@font-face {
    font-family: mw-regular;
    src: url('../assets/fonts/Merriweather-Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: bitter-regular;
    src: url('../assets/fonts/Bitter-Regular.ttf');
}