// ? dashboard section styles 

.dashboard-section {
    width: 94%;
    height: 84rem;
    margin: auto;
    background-color: $blue;
    @include centerer;
    flex-direction: column;

    .dashboard-section__info-container {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .dashboard-section__info {
            width: 90%;
            height:50%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    
            h1 {
                display: block;
                width: 100%;
                color: $white;
                font-family: bitter-regular;
                font-size: 3.6rem;
                text-align: left;
            }
    
            p {
                font-size: 1.8rem ;
                width: 100%;
                font-family: mw-regular;
                color: $white;
                font-weight: lighter;
                margin-bottom: 2rem;
            }
        }

        .dashboard-section__list {
            width: 90%;
            height: 25%;
            @include centerer;
    
            ul {
                list-style-type: none;
                // display: flex;
                // flex-flow: column wrap;
                // justify-content: space-evenly;
                // align-items: flex-start;
                width: 100%;
                li {
                    font-size: 1.8rem;
                    font-family: mw-regular;
                    color: $white;
                    width: 100%;
                    height: 7rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: flex-start;
                    span {
                        margin-left: 1rem;
                    }
                }
    
            }
        }
    }

    .dashboard-section__image {
        width: 90%;
        height: 40%;
        margin:  auto;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        img {
            width: 100%;
            height: 80%;
        }
    }
}

@media screen and (min-width: 36.6rem) {
    .dashboard-section {
        .dashboard-section__image {
            justify-content: flex-end;
            align-items: flex-end;
            img {
                width: 80%;
                height: 80%;
            }
        }
    }
}

@media screen and (min-width: 50rem) {
    .dashboard-section {
        flex-flow: row-reverse wrap;
        justify-content: center;
        align-items: flex-end;
        height: 40rem;
        width: 90%;
        .dashboard-section__info-container {
            width: 55%;
            height: 100%;
            .dashboard-section__info {
                width: 100%;
                height: 60%;
            }
            .dashboard-section__list {
                width: 100%;
                height: 40%;
            }
        }
        .dashboard-section__image {
            width: 40%;
            height: 100%;
            align-items: flex-end;
            justify-content: flex-end;
            img {
                width: 90%;
                height: 70%;
            }
        }
    }
}